/*------------------------------------*\
    $MIXINS
\*------------------------------------*/
/*------------------------------------*\
            $VARIABLES
\*------------------------------------*/
/*------------------------------------*\
    $COLORS
\*------------------------------------*/
/**
 * Brand colors
 */
/**
  * Grey Scale
  * This is mainly to hold back designers from adding 200 different greys ;)
  */
/*------------------------------------*\
              $FOTNS
\*------------------------------------*/
/*------------------------------------*\
              $MEDIA QUERIES
\*------------------------------------*/
/*------------------------------------*\
    $RESET
\*------------------------------------*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, main, menu, nav, section, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  border-width: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}

/*------------------------------------*\
            $TYPOGRAPHY
\*------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial;
  text-transform: uppercase;
  text-rendering: optimizelegibility;
}

h1, .h1 {
  margin-bottom: 0;
  font-size: 3rem;
  line-height: 1.5;
}

h2, .h2 {
  margin-bottom: 0;
  font-size: 2.4rem;
  line-height: 1.5;
}

h3, .h3 {
  margin-bottom: 0;
  font-size: 2.1rem;
  line-height: 1.5;
}

h4, .h4 {
  margin-bottom: 0;
  font-size: 1.8rem;
  line-height: 1.5;
}

h5, .h5 {
  margin-bottom: 0;
  font-size: 1.6rem;
  line-height: 1.5;
}

h6, .h6 {
  margin-bottom: 0;
  font-size: 1.4rem;
  line-height: 1.5;
}

p {
  font-family: Arial;
}

/*------------------------------------*\
    $SITE
\*------------------------------------*/
@-webkit-viewport {
  width: device-width;
}

@-moz-viewport {
  width: device-width;
}

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

@viewport {
  width: device-width;
}
